body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 30px;
    background-image: url("fundo.png");
    background-size: cover;
    background-position: center;
    font-size: 30px;
    color: red;
}

#pontuaçao{
    margin-bottom: 20px;
}

.campo-jogo{
    width: 800px;
    height: 500px;
    background-color: #2e8b57;
    position: relative;
    margin: 0 auto;
    border: 3px solid red;
    border-radius: 20px;
}

.alvo{
    width: 80px;
    height: 80px;
    background-image: url("alvo.png");
    background-size: cover;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease;
}
